# Node modules
node_modules/

# Environment variables
.env

# Dependency directories
package-lock.json

# Optional npm cache directory
.npm/

# Optional eslint cache
.eslintcache

# Optional stylelint cache
.stylelintcache

# Build output directories
build/
dist/

# Logs
logs/
*.log

# System files
.DS_Store
Thumbs.db

# IDE specific files
.vscode/
.idea/

# Temporary files
temp/
.tmp/
